</div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script>
        function toggleHeadersParameters(el) {
            var count = $(el).data("count");
            $(el).data("toggle", !$(el).data("toggle"))
            if ($(el).data("toggle")) {
                $('#api-headers-details-' + count).removeClass('d-none');
                $('.api-headers-structure-' + count).addClass('d-none');
            } else {
                $('#api-headers-details-' + count).addClass('d-none');
                $('#api-headers-structure-' + count).removeClass('d-none');
            }
        }
        function togglePostParameters(el) {
            var count = $(el).data("count");
            $(el).data("toggle", !$(el).data("toggle"))
            if ($(el).data("toggle")) {
                $('#api-post-details-' + count).removeClass('d-none');
                $('#api-post-structure-' + count).addClass('d-none');
            } else {
                $('#api-post-details-' + count).addClass('d-none');
                $('#api-post-structure-' + count).removeClass('d-none');
            }
        }
        $(document).ready(function () {
            $('.scrollspy').scrollSpy();
        });
    </script>
</body>

</html>