@import "_colors";

.raw-input {
  background-color: ghostwhite;
  border: 1px solid silver;
  padding: 5px 10px;
}

.json-key {
  color: $json-key;
}

.json-value {
  color: $json-value;
}

.json-string {
  color: $json-string;
}