<div class="row full-height">
    <div class="col-sm-3 col-md-3 full-height">
        <div class="card-panel full-height-98 fixed-sidebar padding-0">
            <table class="highlight">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-9 col-md-9 scroll-body">

    </div>
</div>